* {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin: 30px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
  margin-right: 35px;
  gap: 10px;
}

input {
  padding-left: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.name,
.email {
  flex: 1;
}
.name input,
.email input {
  width: 100%;
  height: 30px;
}

.subject input {
  width: 100%;
  height: 30px;
}

.message textarea {
  width: 100%;
  height: 250px;
  padding-left: 15px;
}

.row button {
  border: 0;
  background-color: rgb(0, 217, 255);
  color: white;
  font-weight: 600;
  border-radius: 5%;
  width: 120px;
  height: 35px;
}

.row button:hover {
  background-color: rgb(0, 255, 255);
  cursor: pointer;
}

p {
  margin-right: -15px;
}
